// Default dark colorscheme
:root {
  --color-text: white;
  --color-background: #24476b;
  --color-link: #c65861;

  // JSON Schema on Homepage
  --color-json-schema-background: #2b303b;
}

// Light colorsheme if the user prefers it
@media screen and (prefers-color-scheme: light) {
  :root {
    --color-text: black;
    --color-background: white;
    --color-link: #c65861;
  }
}

// Color all the things
body {
  background: var(--color-background);
  color: var(--color-text);
}

a {
  color: var(--color-link);

  // Make the line under the link a little further away
  text-decoration: none;
  border-bottom: 1px solid var(--color-link);
}
