// Top menu
header nav {
  ul {
    // Remove the bullet points
    list-style-type: none;

    // Make the list items aren't indented
    padding-left: 0;

    li {
      // Stop the hardbreaks between items
      display: inline;

      a {
        font-size: 1.2rem;
      }
    }
  }
}

// Main content
main {
}

.container {
  margin: auto;
  max-width: 100%;

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}
