/* Set some variables */
:root {
  --content-width: 800px;
}

/* Setup colors */

/* Default dark mode */
:root {
  --background-color: #01242e;
  --tag-background-color: #024254;
  --heading-color: #eee;
  --text-color: #ddd;
  --link-color: #8cc2dd;
  --visited-color: #8b6fcb;
  --code-background-color: #000;
  --code-color: #ddd;
  --blockquote-color: #ccc;
}

/* Optional light mode */
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --tag-background-color: #f2f2f2;
    --heading-color: #222;
    --text-color: #444;
    --link-color: #3273dc;
    --visited-color:  #8b6fcb;
    --code-background-color: #f2f2f2;
    --code-color: #222;
    --blockquote-color: #222;
  }
}

/* Setup font and colors */
html {
	font-family: Verdana, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);

  &:visited {
    color: var(--visited-color);
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

h1.site-title {
  font-size: 1.5rem;
  margin-top: 0.2rem;
}

span.tag {
  &.small {
    font-size: 0.75em;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--tag-background-color);
    border-radius: 1px;
    padding: 3px 5px 3px 3px;

    &::before {
      content: "#";
      margin-right: 0;
    }
  }
}

/* Make content centered and set the max content size */
body {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-width);
}

/* Navbar */
nav {
  ul {
    list-style: none;
    display: flex;
    padding-left: 0;

    li {
      padding-right: 10px;
    }
  }
}

img {
  width: 100%
}

footer {
  font-size: smaller;
  padding-top: 2rem;
  text-align: center;
}
