html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: underline;
}

nav ul {
  padding: 0;
  margin-bottom: 0;
}

nav ul li {
  display: inline;
}

.divider {
  border-top: 2px dashed;
}

@media (min-width: 992px) {

  .nav-social,
  .footer-source {
    text-align: right;
  }
}

@media (max-width: 991px) {

  .nav-social,
  .footer-source {
    margin-top: 4px;
  }
}
