[submodule "themes/anemone"]
	path = themes/anemone
	url = https://github.com/Speyll/anemone
[submodule "themes/terminimal"]
	path = themes/terminimal
	url = https://github.com/pawroman/zola-theme-terminimal.git
[submodule "themes/tabi"]
	path = themes/tabi
	url = https://github.com/welpo/tabi.git
