// Much taken/inspired by hack. Just rewritten and simplified a bit.
// https://github.com/egoist/hack

// Repeat a character n times
@function repeat($character, $n) {
  $c: '';
  @for $i from 1 through $n {
    $c: $c + $character;
  }
  @return $c;
}

// Setup the font
:root {
  font-style: normal;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

// ---- Headings --------------------------------------------------------------
// Style h1 with an underline of equals signs
// TODO: make this work better when the h1 wraps.
// Not sure if this is even possable with just CSS
h1 {
  position: relative;
  display: inline-block;
  padding-bottom: 30px;
  overflow: hidden;

  &:after {
    content: repeat('=', 250);
    position: absolute;
    bottom: 0.5rem;
    left: 0;
  }
}

// Style h2 through h6 with pound signs
h2,
h3,
h4,
h5,
h6 {
  &:before {
    display: inline;
  }
}
h2:before {
  content: '## ';
}
h3:before {
  content: '### ';
}
h4:before {
  content: '#### ';
}
h5:before {
  content: '##### ';
}
h6:before {
  content: '###### ';
}

// ---- Lists -----------------------------------------------------------------
ul {
  list-style: none;
  padding-left: 1rem;

  li:before {
    content: '-';
    padding-right: 3px;
  }
}
ol {
  list-style: none;
  padding-left: 1rem;
  counter-reset: ol;

  li:before {
    content: counter(ol) '.';
    counter-increment: ol;
    padding-right: 3px;
  }
}

// ---- Horizontal Rule -------------------------------------------------------
hr {
  border: 0 none;
  border-top: 2px dashed;
  height: 0;
}

// ---- Text Styling ----------------------------------------------------------
strong,
b {
  &:before {
    content: '**';
  }
  &:after {
    content: '**';
  }
}
em,
i {
  &:before {
    content: '_';
  }
  &:after {
    content: '_';
  }
}
s,
del {
  &:before {
    content: '~~';
    display: inline-block;
  }
  &:after {
    content: '~~';
    display: inline-block;
  }
}
code {
  &:before {
    content: '`';
  }
  &:after {
    content: '`';
  }
}
