/* Much taken/inspired by hack. Just rewritten and simplified a bit. */
/* https://github.com/egoist/hack */

/* Setup the font */
:root {
  font-style: normal;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
 Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

/* ---- Headings ------------------------------------------------------------ */
/* Style h1 with an underline of equals signs */
/* TODO: make this work better when the h1 wraps. */
/* Not sure if this is even possable with just CSS */
h1 {
  position: relative;
  display: inline-block;
  padding-bottom: 30px;
  overflow: hidden;
}
h1:after {
  content: "==========================================================================================================================================================================================================================================================";
  position: absolute;
  bottom: 0.5rem;
  left: 0;
}

/* Style h2 through h6 with pound signs */
h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
  display: inline;
}
h2:before {
  content: '## ';
}
h3:before {
  content: '### ';
}
h4:before {
  content: '#### ';
}
h5:before {
  content: '##### ';
}
h6:before {
  content: '###### ';
}

/* ---- Lists ----------------------------------------------------------------*/
ul {
  list-style: none;
  padding-left: 1rem;
}
ul li:before {
  content: '-';
  padding-right: 3px;
}
ol {
  list-style: none;
  padding-left: 1rem;
  counter-reset: ol;
}
ol li:before {
  content: counter(ol) ".";
  counter-increment: ol;
  padding-right: 3px;
}

/* ---- Horizontal Rule ----------------------------------------------------- */
hr {
  border: 0 none;
  border-top: 2px dashed;
  height: 0;
}

/* ---- Text Styling -------------------------------------------------------- */
strong:before,
b:before {
  content: '**';
}
strong:after,
b:after {
  content: '**';
}
em:before,
i:before {
  content: '_';
}
em:after,
i:after {
  content: '_';
}
s:before,
del:before {
  content: '~~';
  display: inline-block;
}
s:after,
del:after {
  content: '~~';
  display: inline-block;
}
code:before {
  content: '`';
}
code:after {
  content: '`';
}
