<div id="onIPFS">
<a href="" id="onIPFSLink">View this page on IPFS  </a><a href="https://ipfs.io"><strong>?</strong></a>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var bar = document.getElementById("onIPFS");
    var link = document.getElementById("onIPFSLink");
    if (document.domain === "blog.giodamelio.com" || document.domain === "localhost") {
      bar.style.display = "";
      link.href = "https://ipfs.io/ipns/{{ .Site.Params.IPNSHash }}" + document.location.pathname;
    } else {
      bar.style.display = "none";
    }
  });
</script>
