<pre class="json-schema">
{
  "@context": "<a href="http://schema.org">http://schema.org</a>",
  "@type": "Person",
  "name": "Gio d'Amelio",
  "image": "<a href="{{ config.base_url }}/face.jpg">{{ config.base_url }}/face.jpg</a>",
  "email": "<a href="mailto:giodamelio@gmail.com">mailto:giodamelio@gmail.com</a>",
  "jobTitle": "SDE2",
  "hasOccupation": {
    "@type": "Occupation",
    "name": "Software Developer",
    "skills": "Javascript/Typescript, SQL, AWS, DevOps, Software Arcitecture, Linux"
  },
  "sameAs": [
    "<a href="https://github.com/giodamelio">https://github.com/giodamelio</a>",
    "<a href="https://linkedin.com/in/giodamelio">https://linkedin.com/in/giodamelio</a>",
    "<a href="https://keybase.io/giodamelio">https://keybase.io/giodamelio</a>"
  ],
  "worksFor": {
    "@type": "Organization",
    "name": "Avalara",
    "url": "<a href="https://avalara.com">https://avalara.com</a>"
  }
}
</pre>