{% extends "base.html" %}

{% block title %}
<title>{{ section.title | default(value = "")}} | Gio's Site</title>
{% endblock title %}

{% block head %}
<link rel="alternate" type="application/atom+xml" href="{{ get_url(path='/blog/atom.xml', trailing_slash=false) }}">
{% endblock head %}

{% block content %}
<div class="my-prose">
  {{ section.content | safe }}

  <h2>Posts:</h2>
  <ul>
    {% for post in section.pages %}
    <li>
      {{ post.date }} - <a href="{{ get_url(path=post.path) }}"> {{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
