{% extends "base.html" %}

{% block title %}
<title>{% if page.title %}{{ page.title }} |{% endif %} Gio's Site</title>
{% endblock title %}

{% block content %}
<div class="my-prose">
  <h1>{{ page.title }}</h1>

</div>

<div>
  <span>{{ page.date }}</span> -
  <ul class="inline-block">
    {% for tag in page.taxonomies.tags %}
    <li class="inline-block">
      <a class="tag" href="{{ get_taxonomy_url(kind='tags', name=tag) }}">{{ tag }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="my-prose mt-4">
  {{ page.content | safe }}
</div>
{% endblock content %}
