---
nav:
  site:
    - name: Gio d'Amelio
      href: /
    - name: Blog
      href: /blog
    - name: Resume
      href: /resume
    - name: Contact
      href: /contact
  social:
    - name: Github
      href: https://github.com/giodamelio
    - name: LinkedIn
      href: https://www.linkedin.com/in/giodamelio/
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The personal site of Gio d'Amelio">

  <link
    rel="stylesheet"
    href="https://unpkg.com/frow@3.3.2/dist/frow.css"
    integrity="sha384-5494DXpzuZuX2kZKZpptpJ/QzH3CO3YJjLYwZBbgCojWh4Y8GdLUFPxrlL8JZhAh"
    crossorigin="anonymous"
  >

  {% linkStylesheet "static/css/color.css" %}
  {% linkStylesheet "static/css/main.css" %}

  <title>{{ title }} | Gio's Site</title>
</head>
<body>
  <header>
    <nav class="frow frow-container">
      <ul class="col-md-1-2 nav-site">
        {% for item in nav.site %}
        <li>
          <a href="{{ item.href }}">{{ item.name }}</a>
          {% if not loop.last %} -{% endif %}
        </li>
        {% endfor %}
      </ul>
      <ul class="col-md-1-2 nav-social">
        {% for item in nav.social %}
        <li>
          <a href="{{ item.href }}" rel="noopener noreferrer nofollow">{{ item.name }}</a>
          {% if not loop.last %} -{% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <div class="frow-container">
    <hr />
  </div>

  <main class="frow frow-container">
    <div class="col-md-1-1">
      {{ content | safe }}
    </div>
  </main>

  <footer class="frow-container text-center">
    <p>
      &copy; {{ currentYear }} Gio d'Amelio
    </p>
    <p>
      Generated at {{ generationTime }} using <a href="https://www.11ty.dev/">11ty</a> (<a href="https://github.com/giodamelio/giodamelio.com">Site Source Code</a>)
    </p>
  </footer>
</body>
</html>