{% import "./partials/nav.html" as nav %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block title %}
  <title>Gio d'Amelio</title>
  {% endblock %}

  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  {% block nav %}
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="/">Gio d'Amelio</a>
    <ul class="nav navbar-nav">
      {{ nav.item('Home', '/', layoutName == 'home') }}
      {{ nav.item('Blog', '/blog', layoutName == 'blog') }}
      {{ nav.item('Contact', '/contact', layoutName == 'contact') }}
    </ul>
  </nav>
  {% endblock %}

  {% block body %}
  {{ contents }}
  {% endblock %}
</body>
</html>
