<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Hello World!</title>
    <link href="/static/styles/markdown.css" rel="stylesheet"/>
  </head>
  <body>
    <nav>
      Gio d'Amelio
      <ol>
        {% for link in navbar.links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
        {% endfor %}
      </ol>
    </nav>

    <div class="content">
      {{ content | safe }}
    </div>
  </body>
</html>
